footer.footer.metadata
    - var hexoURL = 'https://hexo.io/';
    - var githubPage = 'https://pages.github.com/';
    - var apolloURL = 'https://github.com/pinggod/hexo-theme-apollo';
    - var year = new Date().getFullYear();
    p.footer__text © #{year} #{config.author}
    p.footer__text Powered by #[a(class='footer__text__link', href=hexoURL, target='_blank') Hexo] &amp; #[a(class='footer__text__link', href=githubPage, target='_blank') Github Page]
